@font-face {
    font-family: "Arial";
    src: url(fonts/Arial.ttf);
}

@font-face {
    font-family: "Corbel";
    src: url(fonts/Corbel.ttf);
}

@font-face {
    font-family: "GillSans";
    src: url(fonts/GillSans.ttf);
}

@font-face {
    font-family: "Inter";
    src: url(fonts/Inter.ttf);
}

@font-face {
    font-family: "OpenSans";
    src: url(fonts/OpenSans.ttf);
}

@font-face {
    font-family: "SansSerif";
    src: url(fonts/SansSerif.ttf);
}

@font-face {
    font-family: "Urbanist";
    src: url(fonts/Urbanist.ttf);
}