* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: initial;
  }
  
  ul {
    list-style: none;
  }
  
  .shopping-cart {
    background: none;
    border: none;
  }

  .header-container {
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 5px;
    align-items: center;
  }

  .header-nav ul,
  .header-nav-bar {
    display: flex;
  }

  .header-nav li {
    padding-right: 25px;
  }

  .shopping-cart {
    padding-left: 30px;
    border-left: 1px solid black;
  }